[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/firephp"]
	path = modules/firephp
	url = git://github.com/jeremyf76/KO3_FirePHP.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/kohana/pagination.git
