[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/firephp"]
	path = modules/firephp
	url = git://github.com/jeremyf76/KO3_FirePHP.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/kohana/pagination.git
[submodule "modules/jelly"]
	path = modules/jelly
	url = git://github.com/jonathangeiger/kohana-jelly.git
[submodule "modules/jelly-auth"]
	path = modules/jelly-auth
	url = http://github.com/raeldc/jelly-auth.git
