/* begin Page */body
{
	margin: 0 auto;
	padding: 0;
	background-color: #FFFFFF;
	background-image: url('images/Page-BgTexture.jpg');
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: top left;
}

#art-main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}



#art-page-background-gradient
{
	position: absolute;
	background-image: url('images/Page-BgGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width:100%;
	height: 225px;
	
}

#art-page-background-gradient
{
	background-position: top left;
}


.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}

form
{
	padding:0 !important;
	margin:0 !important;
}

#art-Header-login-form {
	color: #1E6194;
	float: right;
	width: 260px;
}

#art-Header-login-form dl 
{
	clear: both;
	margin-bottom: 10px;
	height: 25px;
}

#art-Header-login-form dt {
	float: left;
	width: 55px;
	padding-top: 4px;
}

#art-Header-login-form dd {
	width: 150px;
	margin: 0;
	float: left;
}

#art-Header-login-form dd input[type=text],
#art-Header-login-form dd input[type=password] {
	width: 145px;
}

#art-Header-login-form dl:last-child {
	margin-top: 0;
}

#art-Header-login-form dl:last-child dd {
	margin-left: 55px;
}

#art-Header-login-form dl:last-child dd:last-child a {
	color: #000;
	font-size: 12px;
}

#art-Header-search {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#art-Header-search dt {
	display: none;
}

#art-Header-search dd {
	float: left;
	margin-left: 5px;
}

#art-Header-search input[type=text] {
	height: 20px;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.art-Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 900px;
	min-width:35px;
	min-height:35px;
}

.art-Sheet-body
{
	position: relative;
	z-index: 1;
	padding: 13px;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl, .art-Sheet-tc, .art-Sheet-bc,.art-Sheet-cr, .art-Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl
{
	width: 34px;
	height: 34px;
	background-image: url('images/Sheet-s.png');
}

.art-Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 17px, 17px, auto);
}

.art-Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 17px, 17px);
}

.art-Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(17px, 17px, auto, auto);
}

.art-Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(17px, auto, auto, 17px);
}

.art-Sheet-tc, .art-Sheet-bc
{
	left: 17px;
	right: 17px;
	height: 34px;
	background-image: url('images/Sheet-h.png');
}

.art-Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 17px, auto);
}

.art-Sheet-bc
{
	bottom: 0;
	clip: rect(17px, auto, auto, auto);
}

.art-Sheet-cr, .art-Sheet-cl
{
	top: 17px;
	bottom: 17px;
	width: 34px;
	background-image: url('images/Sheet-v.png');
}

.art-Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 17px);
}

.art-Sheet-cl
{
	left:0;
	clip: rect(auto, 17px, auto, auto);
}

.art-Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 17px;
	left: 17px;
	right: 17px;
	bottom: 17px;
	background-image: url('images/Sheet-c.png');
}


.art-Sheet
{
	margin-top: -30px !important;
}

#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
	min-width:900px;
}

/* end Box, Sheet */

/* begin Header */
div.art-Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 874px;
	height: 225px;
}


div.art-Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 874px;
	height: 225px;
	background-image: url('images/Header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
/* end Header */

/* begin Logo */
.art-Logo
{
	display : block;
	position: absolute;
	left: 5px;
	top: 50px;
}

h1.art-Logo-name
{
	display: block;
	text-align: left;
}

h1.art-Logo-name, h1.art-Logo-name a, h1.art-Logo-name a:link, h1.art-Logo-name a:visited, h1.art-Logo-name a:hover
{
font-family:Aharoni,Arial, Helvetica, Sans-Serif;
font-size: 36px;
text-decoration: none;
	padding:0;
	margin:0;
	color: #272F35 !important;
}

h1.art-Logo-name a {
	display: block;
	width: 260px;
	height: 110px;
}

h1.art-Logo-name span {
	display: none;
}

.art-Logo-text
{
	display: block;
	text-align: left;
}

.art-Logo-text, .art-Logo-text a
{
font-family: Georgia, "Times New Roman", Times, Serif;
font-size: 24px;
font-style: italic;
font-weight: normal;
	padding:0;
	margin:0;
	color: #272F35 !important;
}
/* end Logo */

/* begin ContentLayout */
.art-contentLayout
{
	position: relative;
	margin-bottom: 1px;
	width: 874px;
}
/* end ContentLayout */

/* begin Box, Block */
.art-Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:23px;
	min-height:23px;
}

.art-Block-body
{
	position: relative;
	z-index: 1;
	padding: 2px;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl, .art-Block-tc, .art-Block-bc,.art-Block-cr, .art-Block-cl
{
	position:absolute;
	z-index:-1;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl
{
	width: 30px;
	height: 30px;
	background-image: url('images/Block-s.png');
}

.art-Block-tl
{
	top:0;
	left:0;
	clip: rect(auto, 15px, 15px, auto);
}

.art-Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 15px, 15px);
}

.art-Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(15px, 15px, auto, auto);
}

.art-Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(15px, auto, auto, 15px);
}

.art-Block-tc, .art-Block-bc
{
	left: 15px;
	right: 15px;
	height: 30px;
	background-image: url('images/Block-h.png');
}

.art-Block-tc
{
	top: 0;
	clip: rect(auto, auto, 15px, auto);
}

.art-Block-bc
{
	bottom: 0;
	clip: rect(15px, auto, auto, auto);
}

.art-Block-cr, .art-Block-cl
{
	top: 15px;
	bottom: 15px;
	width: 30px;
	background-image: url('images/Block-v.png');
}

.art-Block-cr
{
	right:0;
	clip: rect(auto, auto, auto, 15px);
}

.art-Block-cl
{
	left:0;
	clip: rect(auto, 15px, auto, auto);
}

.art-Block-cc
{
	position:absolute;
	z-index:-1;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	background-color: #E8EBEE;
}


.art-Block
{
	margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 7px;
	margin-bottom: 0px;
}

.art-BlockHeader .t
{
	height: 30px;
	color: #000000;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
	white-space : nowrap;
	padding: 0 6px;
	line-height: 30px;	
}

.art-BlockHeader .l, .art-BlockHeader .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 30px;
	background-image: url('images/BlockHeader.png');
}

.art-BlockHeader .l
{
	left:0;
	right:6px;
}

.art-BlockHeader .r
{ 
	width:894px;
	right:0;
	clip: rect(auto, auto, auto, 888px);
}





.art-header-tag-icon
{
    height: 30px;
	background-position:left top;
	background-image: url('images/BlockHeaderIcon.png');
	padding:0 0 0 9px;
	background-repeat: no-repeat;
	min-height: 16px;
	margin: 0 0 0 5px;
}


/* end BlockHeader */

/* begin Box, BlockContent */
.art-BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.art-BlockContent-body
{
	position: relative;
	z-index: 1;
	padding: 10px;
}



.art-BlockContent-body
{
	color:#2E373E;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 14px;
}

.art-BlockContent-body a:link
{
	color: #447697;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: bold;
text-decoration: none;
}

.art-BlockContent-body a:visited, .art-BlockContent-body a.visited
{
	color: #758A99;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: bold;
text-decoration: none;
}

.art-BlockContent-body a:hover, .art-BlockContent-body a.hover
{
	color: #427394;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: bold;
text-decoration: underline;
}

.art-BlockContent-body ul
{
	list-style-type: none;
	color: #2E373E;
	margin:0;
	padding:0;
}

.art-BlockContent-body li
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 14px;
}

.art-BlockContent-body ul li
{
	padding:0px 0 0px 10px;
	background-image: url('images/BlockContentBullets.png');
	background-repeat:no-repeat;
	margin:0.5em 0 0.5em 0;
	line-height:1.2em;
}

/* end Box, BlockContent */

/* begin Box, Post */
.art-Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.art-Post-body
{
	position: relative;
	z-index: 1;
	padding: 15px;
}



.art-Post
{
	margin: 7px;
}

/* Start images */
a img
{
	border: 0;
}

.art-article img, img.art-article
{
	margin: 1em;
}

.art-metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin: 2px;
}
/* Finish images */

/* Start tables */

.art-article table, table.art-article
{
	border-collapse: collapse;
	margin: 1px;
	width:100%;
}
.option_width
{
	width: 48;
}
.quantity_width
{
	width: 78px;
}
.basket_width
{
	width: 52px;
}
.price_vat
{
	width: 35px;
}
.price_width
{
	width: 92px;
}
.thumbnails
{
	width: 132px;
}

.art-article thead, thead.art-article
{
	background-color: #E8EBEE;
	font-size: 15px;

}
.description 
{
	font-size: 10px;
}
.product_name
{
	font-size: 14px;
}
.art-article table, table.art-article .art-article tr, .art-article th, .art-article td
{
	background-color:Transparent;
}

.art-article th, .art-article td
{
	padding: 2px;
	border: solid 1px #8496A4;
	vertical-align: top;
	text-align:left;
}

.art-article th
{
	text-align: center;
	vertical-align: middle;
	padding: 7px;
}

/* Finish tables */

pre
{
	overflow: auto;
	padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
.art-PostHeader
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 28px;
font-style: normal;
font-weight: normal;
text-align: left;
	color: #16456A;
}

.art-PostHeader a, .art-PostHeader a:link, .art-PostHeader a:visited, .art-PostHeader a:hover
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 28px;
font-style: normal;
font-weight: normal;
text-align: left;
	margin:0;
	color: #16456A;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.art-PostHeader a:link
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  color: #1A537F;
}

.art-PostHeader a:visited, .art-PostHeader a.visited
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  color: #576875;
}

.art-PostHeader a:hover, .art-PostHeader a.hovered
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  color: #497EA2;
}
/* end PostHeader */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 14px;
  color: #364149;
}


.art-PostContent p 
{
	margin: 0.5em 0;
}

.art-PostContent, .art-PostContent p
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  color: #364149;
}

.art-PostContent
{
  margin:0;
}


/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: bold;
text-decoration: none;
  color: #1E6194;
}

/* Adds special style to an unvisited link. */
a:link
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: bold;
text-decoration: none;
  color: #1E6194;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
text-decoration: none;
  color: #1E6194;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
text-decoration: underline;
  color: #497EA2;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 30px;
font-style: normal;
font-weight: bold;
text-align: left;
  color: #1E6194;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 28px;
text-align: left;
  color: #1E6194;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 24px;
text-align: left;
  color: #447697;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 22px;
text-align: left;
  color: #1D5C8C;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 18px;
text-align: left;
  color: #1D5C8C;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 16px;
text-align: left;
  color: #1D5C8C;
}
/* Finish Content headings Fonts & Colors  */
/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ol, ul
{
	color: #596B78;
	margin:1em 0 1em 2em;
	padding:0;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 12px;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}



.art-Post li
{
	padding:0px 0 0px 16px;
	line-height:1.2em;
}

.art-Post ol li, .art-Post ul ol li
{
	background: none;
	padding-left:0;
}

.art-Post ul li, .art-Post ol ul li 
{
	background-image: url('images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:16px;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */
blockquote,
blockquote p,
.art-PostContent blockquote p
{
	color:#252C32;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 14px;
text-align: left;
}

blockquote,
.art-PostContent blockquote
{
		border:solid 1px #8EB4CC; 
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 28px;
	background-color:#BCD2E1;
	background-image:url('images/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}


/* Finish blockuote */
/* end PostQuote */

/* begin Button */
.art-button-wrapper .art-button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:20px;
	margin:0 !important;
	padding:0 !important;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

.art-button-wrapper
{
	display:inline-block;
	position:relative;
	height: 20px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	z-index:0;
}

.firefox2 .art-button-wrapper
{
	display:block;
	float:left;
}

.art-button-wrapper .art-button
{
	display:block;
	height: 20px;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
	white-space: nowrap;
	text-align: left;
	padding: 0 15px !important;
	line-height: 20px;
	text-decoration: none !important;
	color: #364149 !important;
}
.input_width
{
	height: 20px;
	width: 40px;
	text-align: left;
}
input, select
{
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
}

.art-button-wrapper.hover .art-button, .art-button:hover
{
	color: #203746 !important;
	text-decoration: none !important;
}

.art-button-wrapper.active .art-button
{
	color: #F0F3F4 !important;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 93px;
	background-image: url('images/Button.png');
}

.art-button-wrapper .l
{
	left:0;
	right:1px;
}

.art-button-wrapper .r
{
	width:403px;
	right:0;
	clip: rect(auto, auto, auto, 402px);
}

.art-button-wrapper.hover .l, .art-button-wrapper.hover .r
{
	top: -31px;
}

.art-button-wrapper.active .l, .art-button-wrapper.active .r
{
	top: -62px;
}


/* end Button */

/* begin Footer */
.art-Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 874px;
	margin: 5px auto 0px auto;
}

.art-Footer .art-Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 20px;
	text-align: center;
}

.art-Footer .art-Footer-background
{
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-image: url('images/Footer.png');
	width: 874px;
	height: 150px;
	bottom:0;
	left:0;
}


.art-rss-tag-icon
{
	position: relative;
	display:block;
	float:left;
	background-image: url('images/rssIcon.png');
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	height: 32px;
	width: 32px;
    cursor: default;
}




.art-Footer .art-Footer-text p
{
	margin: 0;
}

.art-Footer .art-Footer-text
{
	display:inline-block;
	color:#21272C;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-size: 13px;
}

.art-Footer .art-Footer-text a:link
{
	text-decoration: none;
	color: #447697;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: bold;
text-decoration: none;
}

.art-Footer .art-Footer-text a:visited
{
	text-decoration: none;
	color: #485661;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-Footer .art-Footer-text a:hover
{
	text-decoration: none;
	color: #46799B;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
text-decoration: underline;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#236FA9;
}

.art-page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#576875;
}
/* end PageFooter */

/* begin LayoutCell */
.art-contentLayout .art-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 261px;
}
/* end LayoutCell */

/* begin LayoutCell */
.art-contentLayout .art-content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 611px;
}
.art-contentLayout .art-content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 872px;
}
/* end LayoutCell */

input.small-int {
	width: 60px;
	text-align: right;
}

td.align-left, .align-left {
	text-align: left;
}

td.align-right, .align-right {
	text-align: right;
	font-weight: bold;
}

td.align-center, .align-center {
	text-align: center;
}


